@font-face {
  font-family: "yeim-ele-icon"; /* Project id 3933928 */
  src: url('iconfont.woff2?t=1678176370494') format('woff2'),
       url('iconfont.woff?t=1678176370494') format('woff'),
       url('iconfont.ttf?t=1678176370494') format('truetype');
}

.yeim-ele-icon {
  font-family: "yeim-ele-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yeim-ele-iconlogo-firefox:before {
  content: "\e9df";
}

.yeim-ele-iconwinfo-icon-zuixiaohua:before {
  content: "\e623";
}

.yeim-ele-iconwinfo-icon-guanbi:before {
  content: "\e625";
}

.yeim-ele-icondianhua1:before {
  content: "\e8ad";
}

.yeim-ele-icondingwei:before {
  content: "\e8ae";
}

.yeim-ele-icongengduo:before {
  content: "\e8af";
}

.yeim-ele-iconshangchuan:before {
  content: "\e8b7";
}

.yeim-ele-iconshequ:before {
  content: "\e8b8";
}

.yeim-ele-icontupian:before {
  content: "\e8ba";
}

.yeim-ele-iconxiangji:before {
  content: "\e8bc";
}

.yeim-ele-iconyuyin:before {
  content: "\e8c0";
}

.yeim-ele-iconzhibo:before {
  content: "\e8c1";
}

.yeim-ele-iconshexiangji:before {
  content: "\e66f";
}

.yeim-ele-icongengduo1:before {
  content: "\ec1c";
}

.yeim-ele-iconpingmugongxiang:before {
  content: "\e746";
}

.yeim-ele-icondianhua:before {
  content: "\e6ad";
}

.yeim-ele-iconbofang:before {
  content: "\e8a3";
}

